{
  "basePath": "/",
  "info": {
    "title": "Federated Directory API Documentation",
    "version": "0.9.1"
  },
  "host": "api.federated.directory",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "jwt": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "jwt": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "# Users API\n\nOur fully [SCIM 2.0](http://www.simplecloud.info) compliant API to create, search, retrieve, update and remove user information.\n\n> **Info**\nAll API calls require a valid token. See how to [obtain a token](/developer/api-reference#tag/oauth2).\n\n\n## User Data Model\n\nThe User resource in Federated Directory is composed of three schemas:\n1. **Core User**: `urn:ietf:params:scim:schemas:core:2.0:User`\n2. **Enterprise Extension**: `urn:ietf:params:scim:schemas:extension:enterprise:2.0:User`\n3. **FD Extension**: `urn:ietf:params:scim:schemas:extension:fd:2.0:User`\n\nTechnical details for all attributes (types, constraints, and descriptions) are available in the interactive sections below."
    },
    {
      "name": "Groups",
      "description": "Group management endpoints"
    },
    {
      "name": "MCP",
      "description": "# Model Context Protocol (MCP)\n\nThe Model Context Protocol (MCP) allows AI models to interact with your Federated Directory data in a safe and structured way. This API implements the [MCP standard](https://modelcontextprotocol.io), enabling LLMs (like Claude, ChatGPT, or custom agents) to:\n\n- **List Tools**: Discover available operations (Search Users, Get Group, etc.).\n- **Call Tools**: Execute specific actions on behalf of the user.\n- **Read Resources**: Access directory information as context.\n\n## Integration\n\nTo connect an MCP-compliant client to Federated Directory, use the endpoints documented below. The implementation supports the standard JSON-RPC 2.0 message format for tool execution and resource retrieval."
    },
    {
      "name": "OAuth2",
      "description": "# Obtaining a token\n\nAny service or application that wants to integrate with the Federated Directory APIs needs to obtain an access token. This access token should be placed in the `Authorization` header of every API call as a Bearer token. Like this:\n\n    Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...\n\n## Audiences and roles\n\nThe combination of an audience (aud) and a role describe the authorizations of an access token.\n\nAn audience basically says for what kind of user the access token was created.\n\n| Audience | Description                                                                                                                                                                     |\n| :------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |\n| User     | A user represents a person and is contained in a user directory. It's main purpose is for the usage of the platform by a person.                                                |\n| Key      | A key is not linked to a natural person and is mainly intended for system integration. There are two kind of keys: a directory key and a admin key. Both have a different role. |\n\nA role determines the authorizations given to an access token.\n\n| Role         | Description                                                                                                                                                                                                                        |\n| :----------- | :--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| User         | Is not able to make changes to any other user in or the configuration in its company                                                                                                                                               |\n| directoryKey | Always a key (audience) that has admin permissions on one specific directory in your Federated Directory. Ideal for integration with your current corporate address book or IAM solution (like Entra ID, Google Directory or Okta) |\n| admin        | Full administrative permissions. Can modify all users and settings in its company                                                                                                                                                  |\n\n## Retrieve an access token with a key\n\nThere are two sort of keys.\n\n1. [Directory key](#create-a-directory-key) (role = directoryKey)\n2. [API key](#create-an-api-key) (role = admin)\n\nDecide which key is appropriate for your integration scenario.\n\n### Create a directory key\n\nGo to 'directories' and select the directory you want to integrate with.\nGo to the \"KEYS\" tab and create a new key.\n\nAfter the key has been created you will receive three things:\n\n1. issuer\n2. private key\n3. access token\n\nThe access token is only returned directly after you create the key. This access token is\nvalid for many years. So keep it secure!\n\nThe 'issuer' and 'private key' can be used to [create access tokens](#create-an-access-token-with-the-issuer-and-private-key). These tokens have the\nsame lifetime as a user session. This is [configurable per tenant](/administrator/company)\nbut has a default value of 480 minutes (8 hours).\n\n### Create an API key\n\nAn API key has the same permissions as a user with the 'administrator' role.\n\nTo create such a key, go to 'integrations' in the menu and create a new key.\n\nAfter the key has been created you will receive two things:\n\n1. issuer\n2. private key\n\nThe 'issuer' and 'private key' can be used to [create access tokens](#create-an-access-token-with-the-issuer-and-private-key). These tokens have the\nsame lifetime as a user session. This is [configurable per tenant](/administrator/company)\nbut has a default value of 480 minutes (8 hours).\n\n## Create an access token with the issuer and private key\n\nPlace the 'issuer' value of your key in the below JSON.\n\n```json\n{\n  \"iss\": \"<issuer>\",\n  \"scope\": [\"directoryKey\"], // [\"admin\"] if this is the API key and not Directory key\n  \"aud\": \"key\"\n}\n```\n\nUse RS256 encryption to create and parse a JWT token. Use your 'private key' for this.\nThere are a [a lot of libraries](https://jwt.io/libraries) available that can do this.\n\nThis JWT can then be submitted by a POST action to this end-point :"
    },
    {
      "name": "SCIM",
      "description": "Standard SCIM metadata endpoints"
    }
  ],
  "swagger": "2.0",
  "paths": {
    "/": {
      "get": {
        "summary": "API Discovery Root",
        "operationId": "get",
        "description": "Returns the SCIM service provider configuration from the root path",
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ServiceProviderConfig"
            },
            "description": "Success"
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "summary": "OAuth 2.0 Protected Resource Metadata",
        "operationId": "getWellknownOauthprotectedresource",
        "description": "Returns metadata for OAuth 2.0 discovery (RFC 8707). This allows clients to discover how to authenticate with this specific resource.",
        "tags": [
          "MCP"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/OauthProtectedResourceMetadata"
            },
            "description": "Success"
          }
        }
      }
    },
    "/v2/ServiceProviderConfig": {
      "get": {
        "summary": "Get Service Provider Config",
        "operationId": "getV2Serviceproviderconfig",
        "description": "Returns the SCIM service provider configuration",
        "tags": [
          "SCIM"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ServiceProviderConfig"
            },
            "description": "Success"
          }
        }
      }
    },
    "/v2/mcp": {
      "get": {
        "summary": "MCP Authentication Discovery",
        "operationId": "getV2Mcp",
        "description": "Returns 401 with WWW-Authenticate header to trigger authentication discovery for MCP clients (like Mistral). The response includes links to OAuth 2.0 metadata as per RFC 8707.",
        "tags": [
          "MCP"
        ],
        "responses": {
          "401": {
            "schema": {
              "$ref": "#/definitions/McpAuthDiscoveryResponse"
            },
            "description": "Unauthorized - Triggers Authentication Discovery"
          }
        }
      },
      "post": {
        "summary": "MCP JSON-RPC Endpoint - Multi-method Model Context Protocol handler",
        "operationId": "postV2Mcp",
        "description": "Handles Model Context Protocol (MCP) JSON-RPC 2.0 requests. \n\n### Supported MCP Methods\n- **initialize**: Initial handshake to exchange version and capabilities.\n- **tools/list**: List available tools for the current user/company.\n- **tools/call**: Execute a specific search or retrieval tool.\n- **ping**: Simple connectivity and availability check.\n\n### Supported Tools Reference\n| Tool Name | Description | Required Arguments |\n|:---|:---|:---|\n| `search_contacts_by_name` | Search contacts by name, givenName, or familyName | `name` |\n| `search_contacts_by_email` | Search contacts by email address (partial supported) | `email` |\n| `get_contact_by_id` | Get full SCIM user details by ID | `id` |\n| `search_contacts_by_division` | Search for contacts within a specific division | `division` |\n| `search_contacts_by_department` | Search for contacts within a specific department | `department` |\n| `search_contacts_by_manager` | Find all direct reports for a specific manager ID | `managerId` |\n| `search_contacts_by_employee_number` | Retrieve contact by employee number | `employeeNumber` |\n| `search_contacts_by_company` | Search contacts by organization/company name | `company` |\n| `search_contacts_by_title` | Search contacts by job title | `title` |\n| `search_contacts_by_custom_01` | Search by Custom Field 1 (Company defined) | `value` |\n| `search_contacts_by_custom_02` | Search by Custom Field 2 (Company defined) | `value` |\n| `search_contacts_by_custom_03` | Search by Custom Field 3 (Company defined) | `value` |\n\n*Note: All search tools support an optional `limit` (1-100) and `attributes` (comma-separated list) parameter.*",
        "parameters": [
          {
            "x-alternatives": [
              {
                "$ref": "#/x-alt-definitions/McpCallToolRequest"
              },
              {
                "$ref": "#/x-alt-definitions/McpListToolsRequest"
              },
              {
                "$ref": "#/x-alt-definitions/McpInitializeRequest"
              },
              {
                "$ref": "#/x-alt-definitions/McpPingRequest"
              },
              {
                "$ref": "#/x-alt-definitions/JsonRpcRequest"
              },
              {
                "$ref": "#/x-alt-definitions/JsonRpcBatchRequest"
              }
            ],
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/McpCallToolRequest"
            }
          }
        ],
        "tags": [
          "MCP"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/JsonRpcResponse"
            },
            "description": "Success"
          }
        }
      }
    },
    "/v2/me": {
      "get": {
        "summary": "Get the current user",
        "operationId": "getV2Me",
        "description": "Returns the SCIM representation of the currently authenticated user",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UserResponse",
              "x-alternatives": [
                {
                  "$ref": "#/x-alt-definitions/UserResponse"
                },
                {
                  "$ref": "#/x-alt-definitions/ScimError"
                }
              ]
            },
            "description": "Success"
          }
        }
      }
    },
    "/v2/Groups/{id}": {
      "get": {
        "summary": "Get a group or list of groups",
        "operationId": "getV2GroupsId",
        "description": "Returns a group by ID or a list of groups based on SCIM filtering",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path"
          },
          {
            "type": "string",
            "minLength": 0,
            "maxLength": 500,
            "name": "filter",
            "in": "query"
          },
          {
            "type": "number",
            "minimum": 1,
            "x-constraint": {
              "precision": 0
            },
            "name": "startIndex",
            "in": "query"
          },
          {
            "type": "number",
            "minimum": 0,
            "maximum": 1000,
            "x-constraint": {
              "precision": 0
            },
            "name": "count",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "displayName",
              "created",
              "lastModified"
            ],
            "name": "sortBy",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "ascending",
              "descending"
            ],
            "name": "sortOrder",
            "in": "query"
          }
        ],
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/GroupListResponse"
            },
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete a group",
        "operationId": "deleteV2GroupsId",
        "description": "Deletes a group by ID",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "Groups"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "summary": "Update a group",
        "operationId": "patchV2GroupsId",
        "description": "Updates a group resource using SCIM patch operations",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PatchGroupRequest"
            }
          }
        ],
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/GroupResponse"
            },
            "description": "Success"
          }
        }
      }
    },
    "/v2/ResourceTypes/{resourceType}": {
      "get": {
        "summary": "Get SCIM Resource Types",
        "operationId": "getV2ResourcetypesResourcetype",
        "description": "Returns the SCIM resource types supported by the API",
        "tags": [
          "SCIM"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ResourceTypeListResponse"
            },
            "description": "Success"
          }
        }
      }
    },
    "/v2/Schemas/{schema}": {
      "get": {
        "summary": "Get SCIM Schemas",
        "operationId": "getV2SchemasSchema",
        "description": "Returns the SCIM schemas supported by the API",
        "tags": [
          "SCIM"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/SchemaListResponse"
            },
            "description": "Success"
          }
        }
      }
    },
    "/v2/Users/{id}": {
      "get": {
        "summary": "Get a user or list of users",
        "operationId": "getV2UsersId",
        "description": "Returns a user by ID or a list of users based on SCIM filtering",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path"
          },
          {
            "type": "string",
            "minLength": 0,
            "maxLength": 500,
            "name": "filter",
            "in": "query"
          },
          {
            "type": "string",
            "name": "attributes",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "displayName",
              "title",
              "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User.division",
              "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User.department",
              "urn:ietf:params:scim:schemas:extension:fd:2.0:User:companyId",
              "urn:ietf:params:scim:schemas:extension:fd:2.0:User:directoryId",
              "urn:ietf:params:scim:schemas:extension:fd:2.0:User:groupOwner"
            ],
            "name": "sortBy",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "ascending",
              "descending"
            ],
            "name": "sortOrder",
            "in": "query"
          },
          {
            "type": "number",
            "minimum": 1,
            "maximum": 1000,
            "x-constraint": {
              "precision": 0
            },
            "name": "count",
            "in": "query"
          },
          {
            "type": "number",
            "minimum": 1,
            "x-constraint": {
              "precision": 0
            },
            "name": "startIndex",
            "in": "query"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UserResponse",
              "x-alternatives": [
                {
                  "$ref": "#/x-alt-definitions/UserResponse"
                },
                {
                  "$ref": "#/x-alt-definitions/ScimError"
                }
              ]
            },
            "description": "Success - Returns a single user when id is provided, or a list of users when id is omitted"
          }
        }
      },
      "delete": {
        "summary": "Delete a user",
        "operationId": "deleteV2UsersId",
        "description": "Deletes a user by ID",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "put": {
        "summary": "Replace a user",
        "operationId": "putV2UsersId",
        "description": "Replaces a user resource with the provided SCIM data",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateUserRequest"
            }
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UserResponse",
              "x-alternatives": [
                {
                  "$ref": "#/x-alt-definitions/UserResponse"
                },
                {
                  "$ref": "#/x-alt-definitions/ScimError"
                }
              ]
            },
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update a user",
        "operationId": "patchV2UsersId",
        "description": "Updates a user resource using SCIM patch operations",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PatchUserRequest"
            }
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UserResponse",
              "x-alternatives": [
                {
                  "$ref": "#/x-alt-definitions/UserResponse"
                },
                {
                  "$ref": "#/x-alt-definitions/ScimError"
                }
              ]
            },
            "description": "Success"
          }
        }
      }
    },
    "/v2/Bulk": {
      "post": {
        "summary": "Bulk User operations",
        "operationId": "postV2Bulk",
        "description": "Allows multiple SCIM User operations (create, update, delete) in a single request",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BulkRequest"
            }
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/BulkResponse"
            },
            "description": "Success"
          }
        }
      }
    },
    "/v2/Groups": {
      "post": {
        "summary": "Create a new group",
        "operationId": "postV2Groups",
        "description": "Creates a new group in the directory using SCIM format",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateGroupRequest"
            }
          }
        ],
        "tags": [
          "Groups"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/GroupResponse"
            },
            "description": "Created"
          }
        }
      }
    },
    "/v2/Users": {
      "post": {
        "summary": "Create a new user",
        "operationId": "postV2Users",
        "description": "Creates a new user in the directory using SCIM format",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateUserRequest"
            }
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/UserResponse",
              "x-alternatives": [
                {
                  "$ref": "#/x-alt-definitions/UserResponse"
                },
                {
                  "$ref": "#/x-alt-definitions/ScimError"
                }
              ]
            },
            "description": "Created"
          }
        }
      }
    },
    "/v2/Login/Oauth2/Token": {
      "post": {
        "summary": "Get Access Token",
        "operationId": "postV2LoginOauth2Token",
        "description": "Exchanges a JWT assertion for an OAuth 2.0 access token (RFC 7523)",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/OAuth2TokenRequest"
            }
          }
        ],
        "tags": [
          "OAuth2"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/OAuth2TokenResponse"
            },
            "description": "Success"
          }
        }
      }
    },
    "/v2/Groups/{id}/Logo": {
      "put": {
        "summary": "Update group logo",
        "operationId": "putV2GroupsIdLogo",
        "description": "Updates the logo for a group",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GroupLogoPayload"
            }
          }
        ],
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/GroupResponse"
            },
            "description": "Success"
          }
        }
      }
    }
  },
  "definitions": {
    "ServiceProviderConfigSchemas": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "ServiceProviderConfigPatch": {
      "type": "object",
      "properties": {
        "supported": {
          "type": "boolean"
        }
      }
    },
    "ServiceProviderConfigBulk": {
      "type": "object",
      "properties": {
        "supported": {
          "type": "boolean"
        },
        "maxOperations": {
          "type": "number"
        },
        "maxPayloadSize": {
          "type": "number"
        }
      }
    },
    "ServiceProviderConfigFilter": {
      "type": "object",
      "properties": {
        "supported": {
          "type": "boolean"
        },
        "maxResults": {
          "type": "number"
        }
      }
    },
    "ServiceProviderConfigChangePassword": {
      "type": "object",
      "properties": {
        "supported": {
          "type": "boolean"
        }
      }
    },
    "ServiceProviderConfigSort": {
      "type": "object",
      "properties": {
        "supported": {
          "type": "boolean"
        }
      }
    },
    "ServiceProviderConfigEtag": {
      "type": "object",
      "properties": {
        "supported": {
          "type": "boolean"
        }
      }
    },
    "AuthenticationScheme": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "specUri": {
          "type": "string"
        },
        "documentationUri": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "primary": {
          "type": "boolean"
        }
      }
    },
    "AuthenticationSchemes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AuthenticationScheme"
      }
    },
    "ServiceProviderConfigMeta": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "created": {
          "type": "string"
        },
        "lastModified": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "ServiceProviderConfig": {
      "type": "object",
      "example": {
        "schemas": [
          "urn:ietf:params:scim:schemas:core:2.0:ServiceProviderConfig"
        ],
        "documentationUri": "https://help.federated.directory/developer/getting-started",
        "patch": {
          "supported": true
        },
        "bulk": {
          "supported": true,
          "maxOperations": 1000,
          "maxPayloadSize": 5242880
        },
        "filter": {
          "supported": true,
          "maxResults": 50
        },
        "changePassword": {
          "supported": true
        },
        "sort": {
          "supported": true
        },
        "etag": {
          "supported": false
        },
        "authenticationSchemes": [
          {
            "name": "OAuth Bearer Token",
            "description": "Authentication scheme using the OAuth Bearer Token Standard",
            "specUri": "http://www.rfc-editor.org/info/rfc6750",
            "documentationUri": "https://help.federated.directory/developer/getting-started",
            "type": "oauthbearertoken",
            "primary": true
          }
        ],
        "meta": {
          "location": "https://api.federated.directory/v2/ServiceProviderConfig",
          "resourceType": "ServiceProviderConfig",
          "created": "2017-03-19T04:56:22Z",
          "lastModified": "2022-10-06T18:41:42.442Z"
        }
      },
      "properties": {
        "schemas": {
          "$ref": "#/definitions/ServiceProviderConfigSchemas"
        },
        "documentationUri": {
          "type": "string"
        },
        "patch": {
          "$ref": "#/definitions/ServiceProviderConfigPatch"
        },
        "bulk": {
          "$ref": "#/definitions/ServiceProviderConfigBulk"
        },
        "filter": {
          "$ref": "#/definitions/ServiceProviderConfigFilter"
        },
        "changePassword": {
          "$ref": "#/definitions/ServiceProviderConfigChangePassword"
        },
        "sort": {
          "$ref": "#/definitions/ServiceProviderConfigSort"
        },
        "etag": {
          "$ref": "#/definitions/ServiceProviderConfigEtag"
        },
        "authenticationSchemes": {
          "$ref": "#/definitions/AuthenticationSchemes"
        },
        "meta": {
          "$ref": "#/definitions/ServiceProviderConfigMeta"
        }
      }
    },
    "authorization_servers": {
      "type": "array",
      "items": {
        "type": "string",
        "x-format": {
          "uri": true
        }
      }
    },
    "bearer_methods_supported": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "scopes_supported": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "token_endpoint_auth_methods_supported": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "grant_types_supported": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "OauthProtectedResourceMetadata": {
      "type": "object",
      "example": {
        "resource": "https://api.federated.directory/v2/mcp",
        "authorization_servers": [
          "https://api.federated.directory"
        ],
        "bearer_methods_supported": [
          "header"
        ],
        "scopes_supported": [
          "admin",
          "user",
          "directoryKey"
        ],
        "token_endpoint": "https://api.federated.directory/v2/Login/Oauth2/Token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_basic",
          "client_secret_post",
          "none"
        ],
        "grant_types_supported": [
          "client_credentials",
          "password"
        ],
        "resource_documentation": "https://api.federated.directory/MISTRAL-INTEGRATION.md",
        "api_key_header": "Authorization",
        "api_key_scheme": "Bearer"
      },
      "properties": {
        "resource": {
          "type": "string",
          "x-format": {
            "uri": true
          }
        },
        "authorization_servers": {
          "$ref": "#/definitions/authorization_servers"
        },
        "bearer_methods_supported": {
          "$ref": "#/definitions/bearer_methods_supported"
        },
        "scopes_supported": {
          "$ref": "#/definitions/scopes_supported"
        },
        "token_endpoint": {
          "type": "string",
          "x-format": {
            "uri": true
          }
        },
        "token_endpoint_auth_methods_supported": {
          "$ref": "#/definitions/token_endpoint_auth_methods_supported"
        },
        "grant_types_supported": {
          "$ref": "#/definitions/grant_types_supported"
        },
        "resource_documentation": {
          "type": "string",
          "x-format": {
            "uri": true
          }
        },
        "api_key_header": {
          "type": "string"
        },
        "api_key_scheme": {
          "type": "string"
        }
      },
      "required": [
        "resource",
        "authorization_servers",
        "bearer_methods_supported",
        "scopes_supported",
        "token_endpoint",
        "token_endpoint_auth_methods_supported",
        "grant_types_supported",
        "resource_documentation",
        "api_key_header",
        "api_key_scheme"
      ]
    },
    "error": {
      "type": "string",
      "enum": [
        "unauthorized"
      ]
    },
    "AuthorizationMethods": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "McpAuthDiscoveryResponse": {
      "type": "object",
      "example": {
        "error": "unauthorized",
        "error_description": "Authentication required. Please provide a Bearer token in the Authorization header or configure OAuth 2.0.",
        "authorization_methods": [
          "bearer_token",
          "oauth2"
        ],
        "oauth_metadata": "https://api.federated.directory/.well-known/oauth-protected-resource"
      },
      "properties": {
        "error": {
          "$ref": "#/definitions/error"
        },
        "error_description": {
          "type": "string"
        },
        "authorization_methods": {
          "$ref": "#/definitions/AuthorizationMethods"
        },
        "oauth_metadata": {
          "type": "string",
          "x-format": {
            "uri": true
          }
        }
      },
      "required": [
        "error",
        "error_description",
        "authorization_methods",
        "oauth_metadata"
      ]
    },
    "UserSchemaUrn": {
      "type": "string",
      "enum": [
        "urn:scim:schemas:core:1.0",
        "urn:ietf:params:scim:schemas:core:2.0:User",
        "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
        "urn:ietf:params:scim:schemas:extension:fd:2.0:User"
      ]
    },
    "UserSchemaUrnsArray": {
      "type": "array",
      "minItems": 1,
      "maxItems": 3,
      "items": {
        "$ref": "#/definitions/UserSchemaUrn"
      }
    },
    "UserName": {
      "type": "object",
      "properties": {
        "familyName": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200
        },
        "givenName": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200
        },
        "formatted": {
          "type": "string",
          "minLength": 0,
          "maxLength": 300
        }
      }
    },
    "RoleEnum": {
      "type": "string",
      "enum": [
        "user",
        "admin"
      ]
    },
    "UserRole": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "#/definitions/RoleEnum"
        },
        "display": {
          "$ref": "#/definitions/RoleEnum"
        }
      }
    },
    "UserRolesArray": {
      "type": "array",
      "maxItems": 1,
      "items": {
        "$ref": "#/definitions/UserRole"
      }
    },
    "TypeEnum": {
      "type": "string",
      "enum": [
        "work",
        "home"
      ]
    },
    "UserEmail": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200,
          "pattern": "^.+\\@.+\\..+$"
        },
        "type": {
          "$ref": "#/definitions/TypeEnum"
        },
        "primary": {
          "type": "boolean"
        }
      },
      "required": [
        "type"
      ]
    },
    "UserEmailsArray": {
      "type": "array",
      "maxItems": 2,
      "items": {
        "$ref": "#/definitions/UserEmail"
      }
    },
    "UserAddress": {
      "type": "object",
      "properties": {
        "formatted": {
          "type": "string",
          "minLength": 0,
          "maxLength": 300
        },
        "streetAddress": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200
        },
        "locality": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200
        },
        "region": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200
        },
        "postalCode": {
          "type": "string",
          "minLength": 0,
          "maxLength": 45
        },
        "country": {
          "type": "string",
          "minLength": 0,
          "maxLength": 150
        },
        "type": {
          "$ref": "#/definitions/TypeEnum"
        },
        "primary": {
          "type": "boolean"
        }
      },
      "required": [
        "type"
      ]
    },
    "UserAddressesArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/UserAddress"
      }
    },
    "PhoneTypeEnum": {
      "type": "string",
      "enum": [
        "work",
        "home",
        "mobile"
      ]
    },
    "UserPhoneNumber": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "minLength": 0,
          "maxLength": 45,
          "pattern": "^[ 0-9_./()*#+-]*$"
        },
        "type": {
          "$ref": "#/definitions/PhoneTypeEnum"
        },
        "primary": {
          "type": "boolean"
        }
      },
      "required": [
        "type"
      ]
    },
    "UserPhoneNumbersArray": {
      "type": "array",
      "maxItems": 3,
      "items": {
        "$ref": "#/definitions/UserPhoneNumber"
      }
    },
    "PhotoTypeEnum": {
      "type": "string",
      "enum": [
        "thumbnail",
        "photo"
      ]
    },
    "UserPhoto": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200,
          "pattern": "^(https?\\:\\/\\/(\\S+\\.[^/\\s]+(\\/\\S+|\\/|)))$"
        },
        "type": {
          "$ref": "#/definitions/PhotoTypeEnum"
        },
        "primary": {
          "type": "boolean"
        }
      },
      "required": [
        "type"
      ]
    },
    "UserPhotosArray": {
      "type": "array",
      "maxItems": 2,
      "items": {
        "$ref": "#/definitions/UserPhoto"
      }
    },
    "resourceType": {
      "type": "string",
      "enum": [
        "User"
      ]
    },
    "UserMeta": {
      "type": "object",
      "properties": {
        "resourceType": {
          "$ref": "#/definitions/resourceType"
        },
        "created": {
          "type": "string",
          "maxLength": 30
        },
        "lastModified": {
          "type": "string",
          "maxLength": 30
        },
        "location": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200,
          "pattern": "^(https?\\:\\/\\/(\\S+\\.[^/\\s]+(\\/\\S+|\\/|)))$"
        }
      }
    },
    "LogoTypeEnum": {
      "type": "string",
      "enum": [
        "thumbnail",
        "logo"
      ]
    },
    "UserGroupLogo": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200,
          "pattern": "^(https?\\:\\/\\/(\\S+\\.[^/\\s]+(\\/\\S+|\\/|)))$"
        },
        "type": {
          "$ref": "#/definitions/LogoTypeEnum"
        },
        "primary": {
          "type": "boolean"
        }
      },
      "required": [
        "type"
      ]
    },
    "UserGroupLogosArray": {
      "type": "array",
      "maxItems": 2,
      "items": {
        "$ref": "#/definitions/UserGroupLogo"
      }
    },
    "UserGroup": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "x-format": {
            "guid": true
          }
        },
        "ref": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200,
          "pattern": "^(https?\\:\\/\\/(\\S+\\.[^/\\s]+(\\/\\S+|\\/|)))$"
        },
        "display": {
          "type": "string",
          "minLength": 1,
          "maxLength": 200
        },
        "logos": {
          "$ref": "#/definitions/UserGroupLogosArray"
        },
        "owner": {
          "type": "boolean"
        },
        "assignedByFilter": {
          "type": "boolean"
        }
      }
    },
    "UserGroupsArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/UserGroup"
      }
    },
    "EnterpriseManager": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "x-format": {
            "guid": true
          }
        },
        "displayName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 200
        },
        "ref": {
          "type": "string",
          "minLength": 0,
          "maxLength": 300
        }
      }
    },
    "EnterpriseExtension": {
      "type": "object",
      "properties": {
        "employeeNumber": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200
        },
        "costCenter": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200
        },
        "organization": {
          "type": "string",
          "minLength": 0,
          "maxLength": 100
        },
        "division": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200
        },
        "department": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200
        },
        "manager": {
          "$ref": "#/definitions/EnterpriseManager"
        }
      }
    },
    "CompanyLogo": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200,
          "pattern": "^(https?\\:\\/\\/(\\S+\\.[^/\\s]+(\\/\\S+|\\/|)))$"
        },
        "type": {
          "$ref": "#/definitions/LogoTypeEnum"
        },
        "primary": {
          "type": "boolean"
        }
      },
      "required": [
        "type"
      ]
    },
    "CompanyLogosArray": {
      "type": "array",
      "maxItems": 2,
      "items": {
        "$ref": "#/definitions/CompanyLogo"
      }
    },
    "ChatMethodEnum": {
      "type": "string",
      "enum": [
        "microsoftTeams",
        "googleChat",
        "slack"
      ]
    },
    "ChatMethodsEmailsWorkArray": {
      "type": "array",
      "x-constraint": {},
      "items": {
        "$ref": "#/definitions/ChatMethodEnum"
      }
    },
    "ChatMethodsEmailsHomeArray": {
      "type": "array",
      "x-constraint": {},
      "items": {
        "$ref": "#/definitions/ChatMethodEnum"
      }
    },
    "ChatMethodsUserNameArray": {
      "type": "array",
      "x-constraint": {},
      "items": {
        "$ref": "#/definitions/ChatMethodEnum"
      }
    },
    "ChatMethodPhoneEnum": {
      "type": "string",
      "enum": [
        "whatsApp"
      ]
    },
    "ChatMethodsPhoneNumbersWorkArray": {
      "type": "array",
      "x-constraint": {},
      "items": {
        "$ref": "#/definitions/ChatMethodPhoneEnum"
      }
    },
    "ChatMethodsPhoneNumbersHomeArray": {
      "type": "array",
      "x-constraint": {},
      "items": {
        "$ref": "#/definitions/ChatMethodPhoneEnum"
      }
    },
    "ChatMethodsPhoneNumbersMobileArray": {
      "type": "array",
      "x-constraint": {},
      "items": {
        "$ref": "#/definitions/ChatMethodPhoneEnum"
      }
    },
    "ChatMethods": {
      "type": "object",
      "properties": {
        "emailsWork": {
          "$ref": "#/definitions/ChatMethodsEmailsWorkArray"
        },
        "emailsHome": {
          "$ref": "#/definitions/ChatMethodsEmailsHomeArray"
        },
        "userName": {
          "$ref": "#/definitions/ChatMethodsUserNameArray"
        },
        "phoneNumbersWork": {
          "$ref": "#/definitions/ChatMethodsPhoneNumbersWorkArray"
        },
        "phoneNumbersHome": {
          "$ref": "#/definitions/ChatMethodsPhoneNumbersHomeArray"
        },
        "phoneNumbersMobile": {
          "$ref": "#/definitions/ChatMethodsPhoneNumbersMobileArray"
        }
      }
    },
    "FdUserExtension": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "minLength": 0,
          "maxLength": 250
        },
        "directoryId": {
          "type": "string",
          "x-format": {
            "guid": true
          }
        },
        "companyId": {
          "type": "string",
          "x-format": {
            "guid": true
          }
        },
        "companyLogos": {
          "$ref": "#/definitions/CompanyLogosArray"
        },
        "custom01": {
          "type": "string",
          "minLength": 0,
          "maxLength": 150
        },
        "custom02": {
          "type": "string",
          "minLength": 0,
          "maxLength": 150
        },
        "custom03": {
          "type": "string",
          "minLength": 0,
          "maxLength": 150
        },
        "chatMethods": {
          "$ref": "#/definitions/ChatMethods"
        }
      }
    },
    "UserResponse": {
      "type": "object",
      "example": {
        "schemas": [
          "urn:ietf:params:scim:schemas:core:2.0:User",
          "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
          "urn:ietf:params:scim:schemas:extension:fd:2.0:User"
        ],
        "externalId": "701984",
        "userName": "bjensen@example.com",
        "name": {
          "formatted": "Ms. Barbara J Jensen, III",
          "familyName": "Jensen",
          "givenName": "Barbara",
          "middleName": "Jane",
          "honorificPrefix": "Ms.",
          "honorificSuffix": "III"
        },
        "displayName": "Barbara Jensen",
        "nickName": "Babs",
        "profileUrl": "https://login.example.com/bjensen",
        "emails": [
          {
            "value": "bjensen@example.com",
            "type": "work",
            "primary": true
          },
          {
            "value": "babs@jensen.org",
            "type": "home"
          }
        ],
        "addresses": [
          {
            "type": "work",
            "streetAddress": "100 Universal City Plaza",
            "locality": "Hollywood",
            "region": "CA",
            "postalCode": "91608",
            "country": "USA",
            "formatted": "100 Universal City Plaza\nHollywood, CA 91608 USA",
            "primary": true
          },
          {
            "type": "home",
            "streetAddress": "456 Hollywood Blvd",
            "locality": "Hollywood",
            "region": "CA",
            "postalCode": "91608",
            "country": "USA",
            "formatted": "456 Hollywood Blvd\nHollywood, CA 91608 USA"
          }
        ],
        "phoneNumbers": [
          {
            "value": "555-555-5555",
            "type": "work"
          },
          {
            "value": "555-555-4444",
            "type": "mobile"
          }
        ],
        "userType": "Employee",
        "title": "Tour Guide",
        "preferredLanguage": "en-US",
        "locale": "en-US",
        "timezone": "America/Los_Angeles",
        "active": true,
        "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
          "employeeNumber": "701984",
          "costCenter": "4130",
          "organization": "Universal Studios",
          "division": "Theme Park",
          "department": "Tour Operations",
          "manager": {
            "value": "26118915-6090-4610-87e4-49d8ca9f808d",
            "ref": "../v2/Users/26118915-6090-4610-87e4-49d8ca9f808d",
            "displayName": "John Smith"
          }
        },
        "urn:ietf:params:scim:schemas:extension:fd:2.0:User": {
          "description": "Full time tour guide",
          "custom01": "Badge Number: 12345"
        }
      },
      "properties": {
        "schemas": {
          "$ref": "#/definitions/UserSchemaUrnsArray"
        },
        "id": {
          "type": "string",
          "x-format": {
            "guid": true
          }
        },
        "name": {
          "$ref": "#/definitions/UserName"
        },
        "userName": {
          "type": "string",
          "minLength": 0,
          "maxLength": 150,
          "pattern": "^.+\\@.+\\..+$"
        },
        "externalId": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200
        },
        "displayName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 200
        },
        "nickName": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200
        },
        "profileUrl": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200,
          "pattern": "^(https?\\:\\/\\/(\\S+\\.[^/\\s]+(\\/\\S+|\\/|)))$"
        },
        "roles": {
          "$ref": "#/definitions/UserRolesArray",
          "x-alternatives": [
            {
              "$ref": "#/x-alt-definitions/UserRolesArray"
            },
            {
              "$ref": "#/x-alt-definitions/RoleEnum"
            }
          ]
        },
        "active": {
          "type": "boolean"
        },
        "password": {
          "type": "string",
          "minLength": 8,
          "maxLength": 30,
          "pattern": "^(?=.{8,})(?=.*?[^\\w\\s])(?=.*?[0-9])(?=.*?[A-Z]).*?[a-z].*"
        },
        "emails": {
          "$ref": "#/definitions/UserEmailsArray"
        },
        "addresses": {
          "$ref": "#/definitions/UserAddressesArray"
        },
        "phoneNumbers": {
          "$ref": "#/definitions/UserPhoneNumbersArray"
        },
        "userType": {
          "type": "string",
          "minLength": 0,
          "maxLength": 150
        },
        "preferredLanguage": {
          "type": "string",
          "minLength": 0,
          "maxLength": 45
        },
        "locale": {
          "type": "string",
          "minLength": 0,
          "maxLength": 45
        },
        "timezone": {
          "type": "string",
          "minLength": 0,
          "maxLength": 45
        },
        "photos": {
          "$ref": "#/definitions/UserPhotosArray"
        },
        "meta": {
          "$ref": "#/definitions/UserMeta"
        },
        "title": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200
        },
        "groups": {
          "$ref": "#/definitions/UserGroupsArray"
        },
        "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
          "$ref": "#/definitions/EnterpriseExtension"
        },
        "urn:ietf:params:scim:schemas:extension:fd:2.0:User": {
          "$ref": "#/definitions/FdUserExtension"
        }
      }
    },
    "schemas": {
      "type": "array",
      "example": [
        "urn:ietf:params:scim:api:messages:2.0:ListResponse"
      ],
      "items": {
        "type": "string"
      }
    },
    "GroupSchemaUrn": {
      "type": "string",
      "enum": [
        "urn:ietf:params:scim:schemas:core:2.0:Group",
        "urn:ietf:params:scim:schemas:extension:fd:2.0:Group"
      ]
    },
    "GroupSchemasArray": {
      "type": "array",
      "minItems": 1,
      "maxItems": 3,
      "items": {
        "$ref": "#/definitions/GroupSchemaUrn"
      }
    },
    "MemberPhotoTypeEnum": {
      "type": "string",
      "enum": [
        "thumbnail",
        "photo"
      ]
    },
    "MemberPhoto": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200,
          "pattern": "^(https?\\:\\/\\/(\\S+\\.[^/\\s]+(\\/\\S+|\\/|)))$"
        },
        "type": {
          "$ref": "#/definitions/MemberPhotoTypeEnum"
        },
        "primary": {
          "type": "boolean"
        }
      },
      "required": [
        "type"
      ]
    },
    "photos": {
      "type": "array",
      "maxItems": 2,
      "items": {
        "$ref": "#/definitions/MemberPhoto"
      }
    },
    "GroupRoleEnum": {
      "type": "string",
      "enum": [
        "member",
        "owner"
      ]
    },
    "GroupMember": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "x-format": {
            "guid": true
          }
        },
        "ref": {
          "type": "string",
          "minLength": 0,
          "maxLength": 300
        },
        "display": {
          "type": "string",
          "minLength": 1,
          "maxLength": 200
        },
        "photos": {
          "$ref": "#/definitions/photos"
        },
        "groupRole": {
          "$ref": "#/definitions/GroupRoleEnum"
        }
      }
    },
    "GroupMembersScimArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/GroupMember"
      }
    },
    "SharedAttributeEnum": {
      "type": "string",
      "enum": [
        "id",
        "userName",
        "externalId",
        "familyName",
        "givenName",
        "displayName",
        "nickName",
        "profileUrl",
        "emailsHome",
        "emailsWork",
        "streetAddressWork",
        "postalCodeWork",
        "localityWork",
        "regionWork",
        "countryWork",
        "streetAddressHome",
        "localityHome",
        "postalCodeHome",
        "regionHome",
        "countryHome",
        "phoneNumbersWork",
        "phoneNumbersHome",
        "phoneNumbersMobile",
        "photos",
        "userType",
        "title",
        "employeeNumber",
        "costCenter",
        "division",
        "department",
        "manager",
        "description",
        "custom01",
        "custom02",
        "custom03"
      ]
    },
    "SharedAttributesScimArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SharedAttributeEnum"
      }
    },
    "GroupLogo": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "minLength": 0,
          "maxLength": 200,
          "pattern": "^(https?\\:\\/\\/(\\S+\\.[^/\\s]+(\\/\\S+|\\/|)))$"
        },
        "type": {
          "$ref": "#/definitions/LogoTypeEnum"
        },
        "primary": {
          "type": "boolean"
        }
      },
      "required": [
        "type"
      ]
    },
    "GroupLogosArray": {
      "type": "array",
      "maxItems": 2,
      "items": {
        "$ref": "#/definitions/GroupLogo"
      }
    },
    "FdGroupExtension": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "minLength": 0,
          "maxLength": 250
        },
        "sharedAttributes": {
          "$ref": "#/definitions/SharedAttributesScimArray"
        },
        "chatMethods": {
          "$ref": "#/definitions/ChatMethods"
        },
        "logos": {
          "$ref": "#/definitions/GroupLogosArray"
        },
        "fql": {
          "type": "string",
          "minLength": 0,
          "maxLength": 255
        }
      }
    },
    "GroupResponse": {
      "type": "object",
      "example": {
        "schemas": [
          "urn:ietf:params:scim:schemas:core:2.0:Group"
        ],
        "displayName": "Tour Guides",
        "members": [
          {
            "value": "2819c223-7f76-453a-919d-413861904646",
            "ref": "https://api.federated.directory/v2/Users/2819c223-7f76-453a-919d-413861904646",
            "display": "Babs Jensen"
          },
          {
            "value": "902c246b-6245-4190-8e05-0018c3524c9a",
            "ref": "https://api.federated.directory/v2/Users/902c246b-6245-4190-8e05-0018c3524c9a",
            "display": "Mandy Pepperidge"
          }
        ]
      },
      "properties": {
        "schemas": {
          "$ref": "#/definitions/GroupSchemasArray"
        },
        "id": {
          "type": "string",
          "x-format": {
            "guid": true
          }
        },
        "externalId": {
          "type": "string",
          "minLength": 0,
          "maxLength": 70
        },
        "displayName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 200
        },
        "members": {
          "$ref": "#/definitions/GroupMembersScimArray"
        },
        "urn:ietf:params:scim:schemas:extension:fd:2.0:Group": {
          "$ref": "#/definitions/FdGroupExtension"
        }
      }
    },
    "Resources": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/GroupResponse"
      }
    },
    "GroupListResponse": {
      "type": "object",
      "example": {
        "schemas": [
          "urn:ietf:params:scim:api:messages:2.0:ListResponse"
        ],
        "totalResults": 1,
        "itemsPerPage": 1,
        "startIndex": 1,
        "Resources": [
          {
            "schemas": [
              "urn:ietf:params:scim:schemas:core:2.0:Group"
            ],
            "displayName": "Tour Guides",
            "members": [
              {
                "value": "2819c223-7f76-453a-919d-413861904646",
                "ref": "https://api.federated.directory/v2/Users/2819c223-7f76-453a-919d-413861904646",
                "display": "Babs Jensen"
              },
              {
                "value": "902c246b-6245-4190-8e05-0018c3524c9a",
                "ref": "https://api.federated.directory/v2/Users/902c246b-6245-4190-8e05-0018c3524c9a",
                "display": "Mandy Pepperidge"
              }
            ]
          }
        ]
      },
      "properties": {
        "schemas": {
          "$ref": "#/definitions/schemas"
        },
        "totalResults": {
          "type": "number",
          "example": 1
        },
        "itemsPerPage": {
          "type": "number",
          "example": 10
        },
        "startIndex": {
          "type": "number",
          "example": 1
        },
        "Resources": {
          "$ref": "#/definitions/Resources"
        }
      }
    },
    "ResourceTypeListSchemas": {
      "type": "array",
      "example": [
        "urn:ietf:params:scim:api:messages:2.0:ListResponse"
      ],
      "items": {
        "type": "string"
      }
    },
    "SchemaExtension": {
      "type": "object",
      "properties": {
        "schema": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        }
      }
    },
    "SchemaExtensions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SchemaExtension"
      }
    },
    "ResourceTypeMeta": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        }
      }
    },
    "ScimResourceType": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "endpoint": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "schema": {
          "type": "string"
        },
        "schemaExtensions": {
          "$ref": "#/definitions/SchemaExtensions"
        },
        "meta": {
          "$ref": "#/definitions/ResourceTypeMeta"
        }
      }
    },
    "ScimResourceTypes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ScimResourceType"
      }
    },
    "ResourceTypeListResponse": {
      "type": "object",
      "example": {
        "schemas": [
          "urn:ietf:params:scim:api:messages:2.0:ListResponse"
        ],
        "totalResults": 1,
        "itemsPerPage": 50,
        "startIndex": 1,
        "Resources": [
          {
            "schemas": [
              "urn:ietf:params:scim:schemas:core:2.0:ResourceType"
            ],
            "id": "User",
            "name": "User",
            "endpoint": "/v2/Users",
            "description": "User data forms your directory and they can search your Federated Directory ",
            "schema": "urn:ietf:params:scim:schemas:core:2.0:User",
            "schemaExtensions": [
              {
                "schema": "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
                "required": false
              },
              {
                "schema": "urn:ietf:params:scim:schemas:extension:fd:2.0:User",
                "required": false
              }
            ],
            "meta": {
              "location": "https://api.federated.directory/v2/ResourceTypes/User",
              "resourceType": "ResourceType"
            }
          }
        ]
      },
      "properties": {
        "schemas": {
          "$ref": "#/definitions/ResourceTypeListSchemas"
        },
        "totalResults": {
          "type": "number",
          "example": 1
        },
        "itemsPerPage": {
          "type": "number",
          "example": 50
        },
        "startIndex": {
          "type": "number",
          "example": 1
        },
        "Resources": {
          "$ref": "#/definitions/ScimResourceTypes"
        }
      }
    },
    "SchemaListSchemas": {
      "type": "array",
      "example": [
        "urn:ietf:params:scim:api:messages:2.0:ListResponse"
      ],
      "items": {
        "type": "string"
      }
    },
    "SchemaAttribute": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "multiValued": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "caseExact": {
          "type": "boolean"
        },
        "mutability": {
          "type": "string"
        },
        "returned": {
          "type": "string"
        },
        "uniqueness": {
          "type": "string"
        }
      }
    },
    "SchemaAttributes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SchemaAttribute"
      }
    },
    "SchemaMeta": {
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      }
    },
    "ScimSchema": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "attributes": {
          "$ref": "#/definitions/SchemaAttributes"
        },
        "meta": {
          "$ref": "#/definitions/SchemaMeta"
        }
      }
    },
    "ScimSchemas": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ScimSchema"
      }
    },
    "SchemaListResponse": {
      "type": "object",
      "example": {
        "schemas": [
          "urn:ietf:params:scim:api:messages:2.0:ListResponse"
        ],
        "totalResults": 4,
        "itemsPerPage": 50,
        "startIndex": 1,
        "Resources": [
          {
            "id": "urn:ietf:params:scim:schemas:core:2.0:User",
            "name": "User",
            "description": "User Account",
            "attributes": [
              {
                "name": "id",
                "type": "string",
                "multiValued": false,
                "description": "Globally Unique identifier for the User. Used for all UPDATE and DELETE actions.REQUIRED on a user.",
                "required": true,
                "caseExact": true,
                "mutability": "readOnly",
                "returned": "default",
                "uniqueness": "global",
                "minLength": 36,
                "maxLength": 36,
                "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
              },
              {
                "name": "externalId",
                "type": "string",
                "multiValued": false,
                "description": "Identifier of the user from the mastering source.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 70
              },
              {
                "name": "userName",
                "type": "string",
                "multiValued": false,
                "description": "Unique identifier for the User, typically used by the user to directly authenticate or to map with the username within the identity provider. Each User MUST include a non - empty userName value.This identifier MUST be unique within a directory within company. REQUIRED on a user.",
                "required": true,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "directory",
                "minLength": 1,
                "maxLength": 150,
                "pattern": "^.+$"
              },
              {
                "name": "name",
                "type": "complex",
                "multiValued": false,
                "description": "The components of the user's real name. Returns the individual component attributes using the other sub - attributes.",
                "required": false,
                "subAttributes": [
                  {
                    "name": "familyName",
                    "type": "string",
                    "multiValued": false,
                    "description": "The family name of the User, or last name in most Western languages(e.g., 'Jensen' given the full name 'Ms. Barbara J Jensen, III').",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 0,
                    "maxLength": 150
                  },
                  {
                    "name": "givenName",
                    "type": "string",
                    "multiValued": false,
                    "description": "The given name of the User, or first name in most Western languages(e.g., 'Barbara' given the full name 'Ms. Barbara J Jensen, III').",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 0,
                    "maxLength": 150
                  }
                ],
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none"
              },
              {
                "name": "displayName",
                "type": "string",
                "multiValued": false,
                "description": "The name of the User, suitable for display to end - users. The name SHOULD be the full name of the User being described.",
                "required": true,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 1,
                "maxLength": 200
              },
              {
                "name": "nickName",
                "type": "string",
                "multiValued": false,
                "description": "The casual way to address the user in real life, e.g.,'Bob' or 'Bobby' instead of 'Robert'.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 150
              },
              {
                "name": "profileUrl",
                "type": "reference",
                "referenceTypes": [
                  "external"
                ],
                "multiValued": false,
                "description": "A fully qualified URL pointing to a page representing the User 's online profile.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 10,
                "maxLength": 200,
                "pattern": "^(https?://(S+.[^/s]+(/S+|/|)))$"
              },
              {
                "name": "title",
                "type": "string",
                "multiValued": false,
                "description": "The user's title, such as Vice President.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 150
              },
              {
                "name": "userType",
                "type": "string",
                "multiValued": false,
                "description": "Used to identify the relationship between the organization and the user.Typical values used might be 'Contractor', 'Employee','Intern','Temp','External', and 'Unknown', but any value may be used.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 150
              },
              {
                "name": "preferredLanguage",
                "type": "string",
                "multiValued": false,
                "description": "Indicates the User's preferred written or spoken language.e.g., 'en_US' specifies the language English and country US.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 5
              },
              {
                "name": "locale",
                "type": "string",
                "multiValued": false,
                "description": "Used to indicate the User's default location for purposes of localizing items such as currency, date time format, or numerical representations.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 5
              },
              {
                "name": "timezone",
                "type": "string",
                "multiValued": false,
                "description": "The User's time zone in the 'Olson' time zone database format, e.g., 'America/Los_Angeles'.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 150
              },
              {
                "name": "active",
                "type": "boolean",
                "multiValued": false,
                "description": "A Boolean value indicating the User's administrative status.",
                "required": false,
                "mutability": "readWrite",
                "returned": "default"
              },
              {
                "name": "password",
                "type": "string",
                "multiValued": false,
                "description": "The User's cleartext password. This attribute is intended to be used as a means to specify an initial password when creating a new User or to reset an existing User 's password.",
                "required": false,
                "caseExact": false,
                "mutability": "writeOnly",
                "returned": "never",
                "uniqueness": "none",
                "minLength": 8,
                "maxLength": 30,
                "pattern": "^(?=.{8,})(?=.*?[^ws])(?=.*?[0-9])(?=.*?[A-Z]).*?[a-z].*$"
              },
              {
                "name": "emails",
                "type": "complex",
                "multiValued": true,
                "description": "Email addresses for the user. Canonical type values of 'work','home', and 'other'.",
                "required": false,
                "subAttributes": [
                  {
                    "name": "value",
                    "type": "string",
                    "multiValued": false,
                    "description": "Email addresses for the user. Canonical type values of 'work','home', and 'other'.",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 0,
                    "maxLength": 150,
                    "pattern": "^.+@.+..+$"
                  },
                  {
                    "name": "type",
                    "type": "string",
                    "multiValued": false,
                    "description": "A label indicating the attribute's function, e.g., 'work' or 'home'.",
                    "required": false,
                    "caseExact": true,
                    "canonicalValues": [
                      "work",
                      "home"
                    ],
                    "mutability": "immutable",
                    "returned": "default",
                    "uniqueness": "none"
                  },
                  {
                    "name": "primary",
                    "type": "boolean",
                    "multiValued": false,
                    "description": "A Boolean value indicating the 'primary' or preferred attribute value for this attribute,  e.g.,the preferred mailing address or primary email address.The primary attribute value 'true'. Always fixed to the 'work' email address",
                    "required": false,
                    "mutability": "readOnly",
                    "returned": "default"
                  }
                ],
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none"
              },
              {
                "name": "phoneNumbers",
                "type": "complex",
                "multiValued": true,
                "description": "Phone numbers for the User. The value SHOULD be canonicalized by the service provider according to the format specified in RFC 3966, e.g.,'+1-201-555-0123'. Canonical type values of 'work','home' and 'mobile'",
                "required": false,
                "subAttributes": [
                  {
                    "name": "value",
                    "type": "string",
                    "multiValued": false,
                    "description": "Phone number of the User.",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 0,
                    "maxLength": 45,
                    "pattern": "^[ 0-9_./()*#+-]*$"
                  },
                  {
                    "name": "type",
                    "type": "string",
                    "multiValued": false,
                    "description": "A label indicating the attribute's function, e.g., 'work', 'home', 'mobile'. ",
                    "required": false,
                    "caseExact": true,
                    "canonicalValues": [
                      "work",
                      "home",
                      "mobile"
                    ],
                    "mutability": "immutable",
                    "returned": "default",
                    "uniqueness": "none"
                  },
                  {
                    "name": "primary",
                    "type": "boolean",
                    "multiValued": false,
                    "description": "A Boolean value indicating the 'primary' or preferred attribute value for this attribute, e.g., the preferred phone number or primary phone number. Fixed to the 'work' phone' ",
                    "required": false,
                    "mutability": "readOnly",
                    "returned": "default"
                  }
                ],
                "mutability": "readWrite",
                "returned": "default"
              },
              {
                "name": "photos",
                "type": "complex",
                "multiValued": true,
                "description": "URLs of photos of the User.",
                "required": false,
                "subAttributes": [
                  {
                    "name": "value",
                    "type": "reference",
                    "referenceTypes": [
                      "external"
                    ],
                    "multiValued": false,
                    "description": "URL of a photo of the User.",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 10,
                    "maxLength": 200,
                    "pattern": "^(https?://(S+.[^/s]+(/S+|/|)))$"
                  },
                  {
                    "name": "type",
                    "type": "string",
                    "multiValued": false,
                    "description": "A label indicating the attribute's function, 'photo' or 'thumbnail'. ",
                    "required": false,
                    "caseExact": true,
                    "canonicalValues": [
                      "photo",
                      "thumbnail"
                    ],
                    "mutability": "immutable",
                    "returned": "default",
                    "uniqueness": "none"
                  },
                  {
                    "name": "primary",
                    "type": "boolean",
                    "multiValued": false,
                    "description": "A Boolean value indicating the 'primary' or preferred attribute value for this attribute, e.g., the preferred  photo or thumbnail.Fixed to the 'photo' type.",
                    "required": false,
                    "mutability": "readOnly",
                    "returned": "default"
                  }
                ],
                "mutability": "readWrite",
                "returned": "default"
              },
              {
                "name": "addresses",
                "type": "complex",
                "multiValued": true,
                "description": "A physical mailing address for this User.  Canonical type values of 'work',  'home',   and 'other'.This attribute is a complex type with the following sub - attributes.",
                "required": false,
                "subAttributes": [
                  {
                    "name": "streetAddress",
                    "type": "string",
                    "multiValued": false,
                    "description": "The full street address component,  which may include house number,   street name,     P.O.box,   and multi - line extended street address information.This attribute MAY contain newlines.",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 0,
                    "maxLength": 150
                  },
                  {
                    "name": "locality",
                    "type": "string",
                    "multiValued": false,
                    "description": "The city or locality component.",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 0,
                    "maxLength": 150
                  },
                  {
                    "name": "region",
                    "type": "string",
                    "multiValued": false,
                    "description": "The state or region component.",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 0,
                    "maxLength": 150
                  },
                  {
                    "name": "postalCode",
                    "type": "string",
                    "multiValued": false,
                    "description": "The zip code or postal code component.",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 0,
                    "maxLength": 45
                  },
                  {
                    "name": "country",
                    "type": "string",
                    "multiValued": false,
                    "description": "The country name component.",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 0,
                    "maxLength": 150
                  },
                  {
                    "name": "type",
                    "type": "string",
                    "multiValued": false,
                    "description": "A label indicating the attribute's    function,   e.g.,  'work' and 'home'. ",
                    "required": false,
                    "caseExact": true,
                    "canonicalValues": [
                      "work",
                      "home"
                    ],
                    "mutability": "immutable",
                    "returned": "default",
                    "uniqueness": "none"
                  }
                ],
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none"
              },
              {
                "name": "roles",
                "type": "complex",
                "multiValued": true,
                "description": "The role for the User that collectively represent the entitlements of a user within Federated Directory. Defaults to 'user'.",
                "required": false,
                "subAttributes": [
                  {
                    "name": "value",
                    "type": "string",
                    "multiValued": false,
                    "description": "The value of a role.",
                    "required": false,
                    "caseExact": true,
                    "canonicalValues": [
                      "admin",
                      "user"
                    ],
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none"
                  },
                  {
                    "name": "display",
                    "type": "string",
                    "multiValued": false,
                    "description": "A human-readable name, primarily used for display purposes.READ - ONLY.",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readOnly",
                    "returned": "default",
                    "uniqueness": "none"
                  }
                ],
                "mutability": "readWrite",
                "returned": "default"
              },
              {
                "name": "meta",
                "type": "complex",
                "multiValued": false,
                "description": "Metadata on the user object. Only returned when User info is retrieved on one specific User id.",
                "required": false,
                "subAttributes": [
                  {
                    "name": "created",
                    "type": "DateTime",
                    "multiValued": false,
                    "description": "Date and time when the User was created.",
                    "required": false,
                    "caseExact": true,
                    "mutability": "readOnly",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 20,
                    "maxLength": 20
                  },
                  {
                    "name": "lastModified",
                    "type": "DateTime",
                    "multiValued": false,
                    "description": "The most recent DateTime that the details of this User were updated. If this User has never been modified since its initial creation, the value has the same as 'created'.",
                    "required": false,
                    "caseExact": true,
                    "mutability": "readOnly",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 20,
                    "maxLength": 20
                  },
                  {
                    "name": "location",
                    "type": "string",
                    "multiValued": false,
                    "description": "The URI of the User being returned",
                    "required": false,
                    "caseExact": false,
                    "canonicalValues": [
                      "User"
                    ],
                    "mutability": "readOnly",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 70,
                    "maxLength": 80,
                    "pattern": "^(https?://(S+.[^/s]+(/S+|/|)))$"
                  },
                  {
                    "name": "resourceType",
                    "type": "DateTime",
                    "multiValued": false,
                    "description": "The name of the resource type of the resource. In this case, always 'User'. ",
                    "required": false,
                    "caseExact": true,
                    "mutability": "readOnly",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 5,
                    "maxLength": 5
                  }
                ],
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none"
              }
            ],
            "meta": {
              "resourceType": "Schema",
              "location": "/v2/Schemas/urn:ietf:params:scim:schemas:core:2.0:User"
            }
          },
          {
            "id": "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
            "name": "EnterpriseUser",
            "description": "Enterprise User schema extension",
            "attributes": [
              {
                "name": "employeeNumber",
                "type": "string",
                "multiValued": false,
                "description": "Numeric or alphanumeric identifier assigned to a person, typically based on order of hire or association with an   organization.  ",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 150
              },
              {
                "name": "costCenter",
                "type": "string",
                "multiValued": false,
                "description": "Identifies the name of a cost center.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 150
              },
              {
                "name": "organization",
                "type": "string",
                "multiValued": false,
                "description": "Identifies the name of the organization.",
                "required": false,
                "caseExact": false,
                "mutability": "readOnly",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 100
              },
              {
                "name": "division",
                "type": "string",
                "multiValued": false,
                "description": "Identifies the name of a division.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 150
              },
              {
                "name": "department",
                "type": "string",
                "multiValued": false,
                "description": "Identifies the name of a department.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 150
              },
              {
                "name": "manager",
                "type": "complex",
                "multiValued": false,
                "description": "The User's manager. A complex type that creates an organizational hierarchy by referencing the 'id' attribute of another User. Include 'id' (value) to create an actual link. Also allows adding only a displayName. If id/value is provided, displayName will be ignored.",
                "required": false,
                "subAttributes": [
                  {
                    "name": "value",
                    "type": "string",
                    "multiValued": false,
                    "description": "The id of the SCIM resource representing the User 's manager. OPTIONAL.",
                    "required": false,
                    "caseExact": true,
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 36,
                    "maxLength": 36,
                    "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
                  },
                  {
                    "name": "$ref",
                    "type": "reference",
                    "referenceTypes": [
                      "User"
                    ],
                    "multiValued": false,
                    "description": "The URI of the SCIM resource representing the User 's manager. OPTIONAL.",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readOnly",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  {
                    "name": "displayName",
                    "type": "string",
                    "multiValued": false,
                    "description": "The displayName of the User's manager. Will be ignored if value is also provided. OPTIONAL.",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readWrite",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 0,
                    "maxLength": 200
                  }
                ],
                "mutability": "readWrite",
                "returned": "default"
              }
            ],
            "meta": {
              "resourceType": "Schema",
              "location": "/v2/Schemas/urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"
            }
          },
          {
            "id": "urn:ietf:params:scim:schemas:extension:fd:2.0:User",
            "name": "FederatedDirectoryUser",
            "description": "Federated Directory specific User schema extension",
            "attributes": [
              {
                "name": "description",
                "type": "string",
                "multiValued": false,
                "description": "Description or note on a User.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 250
              },
              {
                "name": "companyId",
                "type": "string",
                "multiValued": false,
                "description": "The unique identifier of the User's Company",
                "required": true,
                "caseExact": true,
                "mutability": "immutable",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 36,
                "maxLength": 36,
                "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
              },
              {
                "name": "companyLogos",
                "type": "complex",
                "multiValued": true,
                "description": "URLs of the logos of the Company.",
                "required": false,
                "subAttributes": [
                  {
                    "name": "value",
                    "type": "reference",
                    "referenceTypes": [
                      "external"
                    ],
                    "multiValued": false,
                    "description": "URL of a logo of the Company.",
                    "required": false,
                    "caseExact": false,
                    "mutability": "readOnly",
                    "returned": "default",
                    "uniqueness": "none",
                    "minLength": 10,
                    "maxLength": 200,
                    "pattern": "^(https?://(S+.[^/s]+(/S+|/|)))$"
                  },
                  {
                    "name": "type",
                    "type": "string",
                    "multiValued": false,
                    "description": "A label indicating the attribute's function, 'logo' or 'thumbnail'. ",
                    "required": false,
                    "caseExact": true,
                    "canonicalValues": [
                      "logo",
                      "thumbnail"
                    ],
                    "mutability": "immutable",
                    "returned": "default",
                    "uniqueness": "none"
                  }
                ],
                "mutability": "readOnly",
                "returned": "default"
              },
              {
                "name": "companyLogos",
                "type": "string",
                "multiValued": false,
                "description": "URL of logo of the User's Company",
                "required": false,
                "caseExact": false,
                "mutability": "readOnly",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 10,
                "maxLength": 200,
                "pattern": "^(https?://(S+.[^/s]+(/S+|/|)))$"
              },
              {
                "name": "directoryId",
                "type": "string",
                "multiValued": false,
                "description": "The unique identifier of the Directory this User resides in.",
                "required": true,
                "caseExact": true,
                "mutability": "immutable",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 36,
                "maxLength": 36,
                "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
              },
              {
                "name": "custom01",
                "type": "string",
                "multiValued": false,
                "description": "Custom attribute that can be used to extend the users default attributes.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 150
              },
              {
                "name": "custom02",
                "type": "string",
                "multiValued": false,
                "description": "Custom attribute that can be used to extend the users default attributes.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 150
              },
              {
                "name": "custom03",
                "type": "string",
                "multiValued": false,
                "description": "Custom attribute that can be used to extend the users default attributes.",
                "required": false,
                "caseExact": false,
                "mutability": "readWrite",
                "returned": "default",
                "uniqueness": "none",
                "minLength": 0,
                "maxLength": 150
              },
              {
                "name": "groups",
                "type": "complex",
                "multiValued": true,
                "description": "The groups in which a user is a member.",
                "required": false,
                "subAttributes": [
                  {
                    "name": "value",
                    "type": "string",
                    "description": "Uuid of the group",
                    "required": true,
                    "caseExact": true,
                    "mutability": "readOnly",
                    "returned": "default",
                    "uniqueness": "global",
                    "minLength": 36,
                    "maxLength": 36,
                    "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
                  },
                  {
                    "name": "display",
                    "type": "string",
                    "multiValued": false,
[...]
