  .site-logo {
      width: 100%;
      height: 100%;
      background-image: url(/assets/images/FederatedDirectory_horizontal.svg);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
  }

  .site-header {
      display: flex;
      min-height: '200px';
      align-items: center;
      max-height: '200px';
      }